.our_team_div__container {
  background: url("/images/about-us/our-team-circle.png");
  background-repeat: no-repeat;
  background-position:top center;
  background-size: 204px 102px;
  background-attachment: fixed;
}
