@font-face {
  font-family: IBMPlexSans;
  src: url("../fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: cambria;
  src: url("../fonts/Cambria.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: SSansBold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: SSansLight;
  src: url("../fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: SSans;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: WorkSans-Bold;
  src: url("../fonts/WorkSans-Bold.ttf");
}

@font-face {
  font-family: WorkSans-Regular;
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: WorkSans-Light;
  src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
  font-family: WorkSans-Medium;
  src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
  font-family: WorkSans-SemiBold;
  src: url("../fonts/WorkSans-SemiBold.ttf");
}


@font-face {
  font-family: OswaldBold;
  src: url("../fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: Oswald-Medium;
  src: url("../fonts/Oswald-Medium.ttf");
}

@font-face {
  font-family: OswaldRegular;
  src: url("../fonts/Oswald-Regular.ttf");
}


@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSansMedium;
  src: url("../fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSans-Regular.ttf");
}


@font-face {
  font-family: AltoneBold;
  src: url("../fonts/AltoneTrial-Bold.ttf");
}

@font-face {
  font-family: AltoneRegular;
  src: url("../fonts/AltoneTrial-Regular.ttf");
}