.detail_button_container {
  background: transparent linear-gradient(148deg, #CC2A22 0%, #991E18 100%);
  box-shadow: 0px 0px 30px #00000029;
  border-radius: 20px;
}

.phone_address_style {
  @include all_fonts_styles(14px, 400, inherit, #fff);
}

.detail_side_title {
  @include all_fonts_styles(24px, 900, inherit, #fff);
}

.detail_side_price {
  @include all_fonts_styles(16px, 500, inherit, #fff);
}

.icon_detail {
  color: #CC2A22;

  &:hover {
    color: #fff
  }
}

.connection_box_div__container {
  cursor: pointer;
  min-height: 15.6rem;

  &:nth-child(1)>div:first-child,
  &:nth-child(3)>div:first-child,
  &:nth-child(5)>div:first-child {
    height: 100%;
    background-color: $yellow-color;
    @include all_fonts_styles($fs-xl, $fw-medium, Montserrat, $black-color);
  }

  &:nth-child(2)>div:first-child,
  &:nth-child(4)>div:first-child,
  &:nth-child(6)>div:first-child {
    height: 100%;
    background: url("/images/home/box-texture-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include all_fonts_styles($fs-xl, $fw-medium, Montserrat, $white-color);
    background-color: rgba($color: $white-color, $alpha: 0.1);
  }

  @include tablet {

    &:nth-child(1)>div:first-child,
    &:nth-child(4)>div:first-child,
    &:nth-child(5)>div:first-child {
      height: 100%;
      background-color: $yellow-color;
      background-image: none !important;
      @include all_fonts_styles($fs-xl, $fw-medium, Montserrat, $black-color);
    }

    &:nth-child(2)>div:first-child,
    &:nth-child(3)>div:first-child,
    &:nth-child(6)>div:first-child {
      height: 100%;
      background: url("/images/home/box-texture-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include all_fonts_styles($fs-xl, $fw-medium, Montserrat, $white-color);
      background-color: rgba($color: $white-color, $alpha: 0.1);
    }
  }

  @include mobile {

    &:nth-child(1)>div:first-child,
    &:nth-child(4)>div:first-child,
    &:nth-child(5)>div:first-child {
      height: 100%;
      background-color: $yellow-color;
      background-image: none !important;
      @include all_fonts_styles($fs-md, $fw-medium, Montserrat, $black-color);
    }

    &:nth-child(2)>div:first-child,
    &:nth-child(3)>div:first-child,
    &:nth-child(6)>div:first-child {
      height: 100%;
      background: url("/images/home/box-texture-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include all_fonts_styles($fs-md, $fw-medium, Montserrat, $white-color);
      background-color: rgba($color: $white-color, $alpha: 0.1);
    }
  }

  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

// .connection_box_i__icon_container {
//   height: 5.6rem;
//   width: auto;
// }