.vehicle_options_toggle_div__container {
  background-color: $xxx-gray-color;
  border-radius: 5px;
  height: 3.75rem;
  position: relative;
  cursor: pointer;
}
.vehicle_options_toggle_img__style {
  position: relative;
  right: 20px;
}
.vehicle_options_toggle_span__style {
  position: relative;
  right: 10px;
  @include all_fonts_styles($fs-xxmd, $fw-normal, Corbert, $white-color);
}
.vehicle_options_collapse_div__container {
  @include all_fonts_styles($fs-md, $fw-normal, Corbert, $white-color);

  border-radius: 5px;
  min-height: 3rem;
  &:nth-child(odd) {
    background-color: $xxxx-gray-color;
  }
  &:nth-child(even) {
    background-color: $xx-gray-color;
  }
}
