.eform_finance_modal_div__container {
  position: relative;
  @include all_fonts_styles($fs-md, $fw-normal, Montserrat, $white-color);
  background-color: $xxx-gray-color;
  height: 5rem;
}
.eform_finance_modal_img__container {
  position: absolute;
  bottom: -20px;
  &:hover {
    cursor: pointer;
  }
}
.eform_modal_checkbox_div__style {
  width: 20px;
  height: 20px;
  background-color: $xx-gray-color;
  border: 0.1px solid $xxx-gray-color;
  border-radius: 3px;
  color: $yellow-color;
}
