.footer_div_container {
  background-color: #f3f3f3;
  position: relative;
}

.footer_ourcontact_title {
  @include all_fonts_styles($fs-mlg, $fw-bold, inherit, $black-color);
}

.title_welcome_footer {
  @include all_fonts_styles($fs-mlg, $fw-bold, inherit, $black-color);
}

.footer_ourHour_title {
  @include all_fonts_styles(24px, $fw-bold, SSansBold, $black-color);

  @include mobile {
    @include all_fonts_styles(16px, $fw-bold, SSansBold, $black-color);
  }
}

.footer_contact_bg {
  img {
    object-fit: cover;
  }
}

.footer_div_container_txt {
  @include all_fonts_styles(18px, 400, SSans, $black-color);

  a {
    @include all_fonts_styles(18px, 400, SSans, $black-color);
  }

  @include mobile {
    @include all_fonts_styles(14px, 400, SSans, $black-color);

    a {
      @include all_fonts_styles(14px, 400, SSans, $black-color);
    }
  }
}

.footer_txt_border {}

.footer_time_work {
  @include mobile {
    @include all_fonts_styles(14px, 400, SSans, $black-color);
  }
}

.auto_trader_img_footer {
  max-width: 40px;
  max-height: 60px;
}

.footer_title_container {
  @include all_fonts_styles(20px, 500, SSansBold, $black-color);

  @include tablet {
    @include all_fonts_styles(18px, 500, SSansBold, $black-color);
  }

  @include mobile {
    @include all_fonts_styles(18px, 500, SSansBold, $black-color);
  }
}

.footer_desc_container {
  @include all_fonts_styles(13px, 500, SSansBold, #5d5d5d);

  @include tablet {
    @include all_fonts_styles(12px, 500, SSansBold, #5d5d5d);
  }

  @include mobile {
    @include all_fonts_styles(12px, 500, SSansBold, #5d5d5d);
  }
}

.footer_about-us-text-limit {
  // @include all_fonts_styles(17px, 400, SSans, $white-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;

  @include desktop {
    -webkit-line-clamp: 7;
    /* number of lines to show */
    line-clamp: 7;
  }

  @include xldesktop {
    -webkit-line-clamp: 7;
    /* number of lines to show */
    line-clamp: 7;
  }

  @include tablet {
    -webkit-line-clamp: 7;
    /* number of lines to show */
    line-clamp: 7;
  }
}

.footer_bg_container {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #ebebeb;
}